@media only screen and (min-width: 768px) {
	.navbar-inverse {
		.navbar-nav {
			li {
				&:after {
					content: '/';
					padding-left: 10px;
					margin-top: -35px;
					float: right;
					color: #999;
				}
			}
		}
	}
	#carousel-home-page {
		.carousel-caption {
			.caption-wrapper {
				.caption-inner {
					padding: 0;
					.line {
						width: 28%;
						margin-top: -5px;
						display: inline-block !important;
						border-top: 2px solid white;
						height: 6px;
						&.bottom {
							width: 100%;
						}
					}
					.first-slider-caption {
						display: inline-block;
						width: 44%;
					}
				}
			}
		}

		.carousel-control {
			width: 3%;
			.icon-prev {
				height: 45px !important;
				left: 15px !important;
			}
			.icon-next {
				height: 45px !important;
			}
		}
	}

	#carousel-team {
		.carousel-control {
			width: 3%;
			.icon-prev {
				height: 45px !important;
				left: 15px !important;
			}
			.icon-next {
				height: 45px !important;
			}
		}
	}

	.with-padding {
		padding: 5em !important;
		&.no-vertical-padding {
			padding-bottom: 0 !important;
			padding-top: 0 !important;  
		}
		&.no-horizontal-padding {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	#gform_wrapper_1 {
		ul {
			li {
				input[type=text] {
					width: 47% !important;
				}
			}
			li:last-child {
				.ginput_container {
					float: right;
					width: 51% !important;
					margin-top: -212px !important;
					textarea {
						height: 186px;
					}
				}
			}
		}
		#gform_submit_button_1 {
			border-radius: 0px;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			border: none;
			padding: 10px 20px;
			font-size: 18px;
			background-color: $btn-normal;
			color: white;
			float: right;
			&:hover {
				background-color: $btn-hover;
			}
		}
	}
}