@media only screen and (min-width: 768px) {
	.navbar-inverse {
		.navbar-nav {
			li {
				&:after {
					content: '/';
					padding-left: 10px;
					margin-top: -35px;
					float: right;
					color: #999;
				}
			}
		}
	}
	#carousel-home-page {
		.carousel-caption {
			.caption-wrapper {
				.caption-inner {
					padding: 0;
					.line {
						width: 28%;
						margin-top: -5px;
						display: inline-block !important;
						border-top: 2px solid white;
						height: 6px;
						&.bottom {
							width: 100%;
						}
					}
					.first-slider-caption {
						display: inline-block;
						width: 44%;
					}
				}
			}
		}

		.carousel-control {
			.icon-prev {
				height: 45px !important;
				left: 15px !important;
			}
			.icon-next {
				height: 45px !important;
			}
		}
	}
}