// Custom variables

$navbar-bg-color: #25292c;
$active-hover: #00cae9;
$gray-bg-color: #f3f3f3;
$dark-gray: #818181;
$almost-black: #2f353e;
$footer-font-color: #7f8691;
$social-icon-color: #666d75;
$copyright-color: #4a4f55;
$light-gray: #b2b2b2;
$darker-gray: #b7b7b7;
$quote: #818894;
$quote-border: #3d3d3d;
$quote-citation: #89909b;
$btn-normal: #00cae9;
$btn-hover: #11cbea;
$border-color: #e1e1e1;
$team-blue: #11cbea;
$picture-border: #efefef;