/******************************************************************
Site Name: MacTown
Author: Rainy Day Media

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import "variables";
@import "fonticon";
@import "768up";

body {
	padding-top: 62px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.clear {
	clear: both;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-collapse {
	.navbar-nav.navbar-right {
		&:last-child {
			margin-right: 0px;
		}
	}
}

.navbar-inverse {
	background-color: $navbar-bg-color;
	.navbar-brand {
		padding: 5px 10px;
		img {
			width: 120px;
		}
	}
	.navbar-nav {
		margin-top: 7px;
		li {
			a {
				text-transform: uppercase;
				font-weight: 400;
				margin-right: 8px;
			}
		}
	}
	.navbar-toggle {
		margin-top: 14px;
	}
}

#carousel-home-page {
	img {
		width: 100%;
	}
	.carousel-caption {
		width: 100%;
		height: 100%;
		min-height: 100%;
		top: initial;
		right: initial;
		bottom: initial;
		left: initial;
		.caption-wrapper {
			width: 100%;
			height: 100%;
			min-height: 100%;
			display: table;
			.caption-inner {
				display: table-cell;
				vertical-align: middle;
				padding: 0 10%;
				.line {
					display: none;
				}
				.first-slider-caption {
					text-transform: uppercase;
					font-weight: 100;
					letter-spacing: 3px;
					font-size: 1em;
					background-color: transparent;
					z-index: 9999;
					margin: 0;
					padding: 0;
				}
				.second-slider-caption {
					text-transform: uppercase;
					font-size: 2em;
				}
			}
		}
	}
	.carousel-control {
		z-index: 9999;
		&.left, &.right {
			background-image: none;
			background-repeat: no-repeat;
		}
		.icon-prev {
			background-color: black;
			height: 30px;
			left: 10px;
		}
		.icon-next {
			background-color: black;
			height: 30px;
			left: auto;
			right: 0px;
		}
	}
	.carousel-indicators {
		li {
			border-radius: 0px;
			width: 30px;
			height: 5px;
			background-color: black;
			border: none;
			opacity: 0.5;
			&.active {
				background-color: $active-hover;
				opacity: 1.0;
				border: none;
				margin: 1px;
			}
		}
	}
}

#carousel-team {
	.carousel-control {
		z-index: 9999;
		&.left, &.right {
			background-image: none;
			background-repeat: no-repeat;
		}
		.icon-prev {
			background-color: black;
			height: 30px;
			left: 10px;
		}
		.icon-next {
			background-color: black;
			height: 30px;
			left: auto;
			right: 0px;
		}
	}
}

.with-gray-bg {
	background-color: $gray-bg-color;
}

.with-padding {
	padding: 2em;
	&.no-vertical-padding {
		padding-bottom: 0;
		padding-top: 0;
	}
	&.no-horizontal-padding {
		padding-left: 0;
		padding-right: 0;
	}
}

.lighter {
	color: $dark-gray;
	font-size: 1.25em;
	font-weight: 100;
	margin-top: 0.55em;
}

.block-header {
	margin-bottom: 1.5em;
	h2 {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 3em;
		margin: 0;
		padding: 0;
		color: $almost-black;
		&:last-child {
			font-size: 3.55em;
		}
	}
}

.footer {
	background-color: $navbar-bg-color;
	padding: 2em;
	color: $footer-font-color;
	.footer-logo {
		width: 120px;
		margin-bottom: 1em;
	}
	h2 {
		color: white;
		font-size: 1.5em;
		font-weight: 400;
		margin-top: 1.5em;
	}
	p {
		margin-bottom: 4px;
		font-size: 0.9em;
	}
	.footer-social-icons {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 1em;
				a {
					color: $social-icon-color;
					font-size: 2em;
					text-decoration: none;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
	.footer-support-icons {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: right;
			li {
				display: inline-block;
				margin-left: 1em;
				a {
					color: $social-icon-color;
					font-size: 2em;
					text-decoration: none;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
	.bottom-footer {
		margin-top: 5em;
		p {
			text-align: center;
			color: $copyright-color;
			font-size: 0.85em;
		}
	}
}

.section-title {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	color: $almost-black;
}

.section-small-title {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	font-size: 3em;
	color: $almost-black;
}

.section-subtitle {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: $light-gray;
	font-size: 1.45em;
}

.section-featured-image {
	margin: 2em 0;
	img {
		width: 100%;
		height: auto;
	}
}

.section-content {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.15em;
	color: $quote-citation;
	line-height: 1.5em;
}

hr.short {
	width: 70px;
	height: 4px;
	color: $darker-gray;
	background-color: $darker-gray;
}

blockquote {
	border-left: solid 7px $quote-border;
	p {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 600;
		color: $quote;
		font-size: 1.75em;
	}
	cite {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: $quote-citation;
		font-size: 1.25em;
	}
}

.btn {
	border-radius: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	&.btn-primary {
		background-color: $btn-normal;
		&:hover {
			background-color: $btn-hover;
		}
	}
}

.team-member {
	display: block;
	margin: 0 2em 2em;
	.team-photo {
		background-size: cover;
		background-position: center center;
		min-height: 394px;
		height: inherit;
		display: block;
		position: relative;
		cursor: pointer;
		div.team-bio {
			display: none;
			position: absolute;
			top: 0;	
			padding: 1.5em;
			background-color: rgba(0,0,0,0.8);
			width: 100%;
			height: 100%;
			p {
				color: white;
			}
		}
	}

	.team-info {
		background: white;
		border: solid 1px $border-color;
		padding: 1em;
		h3 {
			text-align: center;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-size: 1.35em;
			font-weight: 700;
			color: $almost-black;
		}
		p {
			text-align: center;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-weight: 400;
			font-size: 1em;
			color: $team-blue;
			&.team-social-links {
				a {
					color: $dark-gray;
					font-size: 2em;
					margin-right: 1em;
					&:last-child {
						margin-right: 0;
					}
					&:hover {
						color: $team-blue;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.close-icon {
	float: right;
	padding: 1em 2em 0 0;
	color: $dark-gray;
	font-size: 2em;
	&:hover {
		text-decoration: none;
		color: $team-blue;
	}
}

#meet-the-team-section {
	display: none;
}

#partners-row {
	background: url(../images/partners_bg.png) no-repeat;
	background-size: cover;
	h1.section-title {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: white;
		font-size: 3em;
	}
	p.section-content {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 1.15em;
		color: white;
		font-weight: 300;
		text-align: center;
	}
}
