/******************************************************************
Site Name: MacTown
Author: Rainy Day Media

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import "variables";
@import "fonticon";
@import "768up";

body {
	padding-top: 62px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: $almost-black;
}

.clear {
	clear: both;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-collapse {
	.navbar-nav.navbar-right {
		&:last-child {
			margin-right: 0px;
		}
	}
}

.navbar-inverse {
	background-color: $navbar-bg-color;
	.navbar-brand {
		padding: 5px 10px;
		img {
			width: 120px;
		}
	}
	.navbar-nav {
		margin-top: 7px;
		li {
			a {
				text-transform: uppercase;
				font-weight: 400;
				margin-right: 8px;
			}
		}
	}
	.navbar-toggle {
		margin-top: 14px;
	}
}

#carousel-home-page {
	img {
		width: 100%;
	}
	.carousel-caption {
		width: 100%;
		height: 100%;
		min-height: 100%;
		top: initial;
		right: initial;
		bottom: initial;
		left: initial;
		.caption-wrapper {
			width: 100%;
			height: 100%;
			min-height: 100%;
			display: table;
			.caption-inner {
				display: table-cell;
				vertical-align: middle;
				padding: 0 10%;
				.line {
					display: none;
				}
				.first-slider-caption {
					text-transform: uppercase;
					font-weight: 100;
					letter-spacing: 3px;
					font-size: 1em;
					background-color: transparent;
					z-index: 9999;
					margin: 0;
					padding: 0;
				}
				.second-slider-caption {
					text-transform: uppercase;
					font-size: 2em;
				}
			}
		}
	}
	.carousel-control {
		z-index: 9999;
		&.left, &.right {
			background-image: none;
			background-repeat: no-repeat;
		}
		.icon-prev {
			background-color: black;
			height: 30px;
			left: 10px;
		}
		.icon-next {
			background-color: black;
			height: 30px;
			left: auto;
			right: 0px;
		}
	}
	.carousel-indicators {
		li {
			border-radius: 0px;
			width: 30px;
			height: 5px;
			background-color: black;
			border: none;
			opacity: 0.5;
			&.active {
				background-color: $active-hover;
				opacity: 1.0;
				border: none;
				margin: 1px;
			}
		}
	}
}

#carousel-team {
	.carousel-control {
		z-index: 9999;
		&.left, &.right {
			background-image: none;
			background-repeat: no-repeat;
		}
		.icon-prev {
			background-color: black;
			height: 30px;
			left: 10px;
		}
		.icon-next {
			background-color: black;
			height: 30px;
			left: auto;
			right: 0px;
		}
	}
}

.with-gray-bg {
	background-color: $gray-bg-color;
}

.with-padding {
	padding: 2em;
	&.no-vertical-padding {
		padding-bottom: 0;
		padding-top: 0;
	}
	&.no-top-padding {
		padding-top: 0 !important;
	}
	&.small-top-padding {
		padding-top: 1em !important;
	}
	&.small-bottom-padding {
		padding-bottom: 1em !important;
	}
	&.no-horizontal-padding {
		padding-left: 0;
		padding-right: 0;
	}
}

.extra-padding {
	padding: 0 2em;
}

.lighter {
	color: $dark-gray;
	font-size: 1.25em;
	font-weight: 100;
	margin-top: 0.55em;
}

.block-header {
	margin-bottom: 1.5em;
	h2 {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 3em;
		margin: 0;
		padding: 0;
		color: $almost-black;
		&:last-child {
			font-size: 3.55em;
		}
	}
}

.footer {
	background-color: $navbar-bg-color;
	padding: 2em;
	color: $footer-font-color;
	.footer-logo {
		width: 120px;
		margin-bottom: 1em;
	}
	h2 {
		color: white;
		font-size: 1.5em;
		font-weight: 400;
		margin-top: 1.5em;
	}
	p {
		margin-bottom: 4px;
		font-size: 0.9em;
	}
	.footer-social-icons {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 1em;
				a {
					color: $social-icon-color;
					font-size: 2em;
					text-decoration: none;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
	.footer-support-icons {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: right;
			li {
				display: inline-block;
				margin-left: 1em;
				a {
					color: $social-icon-color;
					font-size: 2em;
					text-decoration: none;
					&:hover {
						color: white;
					}
				}
			}
		}
	}
	.bottom-footer {
		margin-top: 5em;
		p {
			text-align: center;
			color: $copyright-color;
			font-size: 0.85em;
		}
	}
}

.section-title {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	color: $almost-black;
}

.section-small-title {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	font-size: 3em;
	color: $almost-black;
}

.section-subtitle {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: $light-gray;
	font-size: 1.45em;
}

.section-featured-image {
	margin: 2em 0;
	img {
		width: 100%;
		height: auto;
	}
}

.section-content {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.15em;
	color: $quote-citation;
	line-height: 1.5em;
}

hr.short {
	width: 70px;
	height: 4px;
	color: $darker-gray;
	background-color: $darker-gray;
}

blockquote {
	border-left: solid 7px $quote-border;
	p {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 600;
		color: $quote;
		font-size: 1.75em;
	}
	cite {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: $quote-citation;
		font-size: 1.25em;
	}
}

.btn {
	border-radius: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	&.btn-primary {
		background-color: $btn-normal;
		&:hover {
			background-color: $btn-hover;
		}
	}
}

.team-member {
	display: block;
	margin: 0 2em 2em;
	.team-photo {
		background-size: cover;
		background-position: center center;
		min-height: 394px;
		height: inherit;
		display: block;
		position: relative;
		cursor: pointer;
		div.team-bio {
			display: none;
			position: absolute;
			top: 0;	
			padding: 1.5em;
			background-color: rgba(0,0,0,0.8);
			width: 100%;
			height: 100%;
			p {
				color: white;
			}
		}
	}

	.team-info {
		background: white;
		border: solid 1px $border-color;
		padding: 1em;
		h3 {
			text-align: center;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-size: 1.35em;
			font-weight: 700;
			color: $almost-black;
		}
		p {
			text-align: center;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-weight: 400;
			font-size: 1em;
			color: $team-blue;
			&.team-social-links {
				a {
					color: $dark-gray;
					font-size: 2em;
					margin-right: 1em;
					&:last-child {
						margin-right: 0;
					}
					&:hover {
						color: $team-blue;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.close-icon {
	float: right;
	padding: 0.5em 2em 0.5em 0;
	color: $dark-gray;
	font-size: 2em;
	&:hover {
		text-decoration: none;
		color: $team-blue;
	}
}

#meet-the-team-section {
	display: none;
}

#partners-row {
	background: url(../images/partners_bg.png) no-repeat;
	background-size: cover;
	h1.section-title {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: white;
		font-size: 3em;
	}
	p.section-content {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 1.15em;
		color: white;
		font-weight: 300;
		text-align: center;
	}
	.partner-section {
		margin: 2em;
		img {
			margin: 0 auto 1em;
			display: block;
			max-width: 90%;
			height: auto;
		}
		p {
			color: white;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-weight: 100;
			text-align: center;
		}
	}
}

#services-offered {
	.services-cell {
		margin-bottom: 1.5em;
		.services-title {
			text-decoration: none;
			i {
				font-size: 2.5em;
				color: white;
				background: $almost-black;
				padding: 0.5em;
				display: block;
				border-radius: 3em;
				float: left;
				margin-right: 1em;
				margin-top: 0.5em;
				width: 2em;
				text-align: center;
			}
			h3 {
				color: $almost-black;
				text-transform: uppercase;
				font-family: 'Open Sans', Helvetica, Arial, sans-serif;
				font-weight: 700;
				font-size: 1.5em;
			}
			&:hover, &.active {
				i {
					background: transparent;
					color: $team-blue;
				}
				h3 {
					color: $team-blue;
				}
			}
		}
		p {
			margin-left: 7.5em;
		}
	}
}

.services-main-content {
	display: none;
	.col-sm-8 {
		color: $dark-gray;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 1.15em;
		font-weight: 300;
		line-height: 1.4em;
		img {
			float: left;
			margin: 0 1em 0.5em 0;
		}
		h1, h2, h3, h4, h5, h6 {
			color: $almost-black;
			font-weight: 700;
			margin: 1em 0;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		}
	}
	.col-sm-4 {
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			border: solid 8px $picture-border;
			height: auto;
		}
	}
}

#testimonials-row {
	background: url(../images/testimonials_bg.png) no-repeat;
	background-size: cover;
	h1.section-title {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: white;
		font-size: 3em;
	}
	p.section-content {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 1.15em;
		color: white;
		font-weight: 300;
		text-align: center;
	}
	.testimonial-section {
		margin: 2em;
		.testimonial-icon {
			height: 100%;
			float: left;
			margin: 0 1em;
			i {
				color: white;
				font-size: 2em;
			}
		}
		.quote {
			color: white;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-size: 1.25em;
			font-weight: 600;
			margin-left: 3.5em;
		}
		.customer-info {
			p {
				color: white;
				font-family: 'Open Sans', Helvetica, Arial, sans-serif;
				font-weight: 100;
				margin-left: 4em;
				img {
					border-radius: 42px;
					margin-left: 1em;
				}
			}
		}
	}
}

.trending-post {
	margin-bottom: 2em;
	.featured-image {
		img {
			width: 100%;
			height: auto;
			z-index: 1;
		}
	}
	.author-avatar {
		img {
			border-radius: 50px;
			right: 10px;
			margin: -25px 1em 0 0;
			position: absolute;
		}
	}
	.trending-content {
		margin: 1em 1em 0;
		color: $dark-gray;
		font-size: 1.1em;
		a {
			text-decoration: none;
			color: $team-blue;
			h3 {
				font-family: 'PT Sans', Helvetica, Arial, sans-serif;
				font-weight: 700;
				font-size: 1.3em;
				color: $almost-black;
			}
			&:hover {
				color: $btn-normal;
				h3 {
					color: $team-blue;
				}
			}
		}
	}
	.trending-meta {
		border-top: 1px dashed $dark-gray;
		margin: 1em 0 0;
		padding: 1em 0 0;
		color: $dark-gray;
		.col-xs-3:last-child {
			text-align: right;
		}
		.col-xs-6:first-child {
			text-align: left;
		}
		.col-xs-3 {
			text-align: center;
		}
	}
}

#subcarousel {
	background: url(../images/subcarousel_bg.png) no-repeat;
	background-size: cover;
	.update-section {
		border: solid 1px white;
		margin: 0 5em;
		h3 {
			text-align: center;
			text-transform: uppercase;
			color: white;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-weight: 100;
			font-size: 2.25em;
			margin: 1em 2em 1em;
		}
		p {
			color: white;
			margin: 0 2em 2em;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-size: 1.15em;
			font-weight: 300;
		}
	}
}

.retail-section {
	.retail-header {
		i {
			font-size: 2.5em;
			color: white;
			background: $almost-black;
			padding: 0.5em;
			display: block;
			border-radius: 3em;
			float: left;
			margin-right: 1em;
			margin-top: 0.5em;
			width: 2.05em;
			text-align: center;
			clear: both;
		}
		h3 {
			color: $almost-black;
			text-transform: uppercase;
			font-family: 'Open Sans', Helvetica, Arial, sans-serif;
			font-weight: 700;
			font-size: 1.5em;			
		}
	}
	p {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 300;
		font-size: 1.15em;
		color: $quote-citation;
		line-height: 1.5em;
		margin-left: 6.75em;
	}
}

#brand-row {
	background: url(../images/testimonials_bg.png) no-repeat;
	background-size: cover;
	h1.section-title {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: white;
		font-size: 3em;
	}
	p.section-content {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-size: 1.15em;
		color: white;
		font-weight: 300;
		text-align: center;
	}
	.brand-section {
		img {
			width: 50%;
			margin: 0 auto;
			display: block;
			height: auto;
		}
	}
}

.contact-description {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	color: $quote-citation;
	text-align: center;
}

// Forms!

.form-header {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: $almost-black;
	font-size: 1.5em;
}

.gfield_label {
	display: none !important;
}

input[type=text], textarea {
	background: #eeeeee;
	padding: 1em !important;
	border: none;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 0.95em !important;
	color: $quote-citation !important;
	margin-bottom: 2em;
}

#gform_wrapper_1 {
	ul {
		li {
			input[type=text] {
				width: 100%;
			}
		}
		li:last-child {
			.ginput_container {
				float: right;
				width: 100%;
				margin-top: 0px;
				textarea {
					height: 186px;
				}
			}
		}
	}
	#gform_submit_button_1 {
		border-radius: 0px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		border: none;
		padding: 10px 20px;
		font-size: 18px;
		background-color: $btn-normal;
		color: white;
		float: right;
		&:hover {
			background-color: $btn-hover;
		}
	}
}