@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
/******************************************************************
Site Name: MacTown
Author: Rainy Day Media

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
@font-face {
  font-family: 'MacTown';
  src: url("../fonts/MacTown.eot");
  src: url("../fonts/MacTown.eot?#iefix") format("embedded-opentype"), url("../fonts/MacTown.woff") format("woff"), url("../fonts/MacTown.ttf") format("truetype"), url("../fonts/MacTown.svg#MacTown") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 14, ../scss/_fonticon.scss */
[data-icon]:before {
  font-family: 'MacTown';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="rdm-"] {
*/
/* line 31, ../scss/_fonticon.scss */
.rdm-medkit, .rdm-suitcase, .rdm-linkedin-sign, .rdm-twitter-sign, .rdm-facebook-sign, .rdm-envelope, .rdm-sessions, .rdm-service, .rdm-phone, .rdm-place, .rdm-envelope-alt, .rdm-map-marker {
  font-family: 'MacTown';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 41, ../scss/_fonticon.scss */
.rdm-medkit:before {
  content: "\f0fa";
}

/* line 44, ../scss/_fonticon.scss */
.rdm-suitcase:before {
  content: "\f0f2";
}

/* line 47, ../scss/_fonticon.scss */
.rdm-linkedin-sign:before {
  content: "\f08c";
}

/* line 50, ../scss/_fonticon.scss */
.rdm-twitter-sign:before {
  content: "\f081";
}

/* line 53, ../scss/_fonticon.scss */
.rdm-facebook-sign:before {
  content: "\f082";
}

/* line 56, ../scss/_fonticon.scss */
.rdm-envelope:before {
  content: "\f003";
}

/* line 59, ../scss/_fonticon.scss */
.rdm-sessions:before {
  content: "\e000";
}

/* line 62, ../scss/_fonticon.scss */
.rdm-service:before {
  content: "\e001";
}

/* line 65, ../scss/_fonticon.scss */
.rdm-phone:before {
  content: "\f095";
}

/* line 68, ../scss/_fonticon.scss */
.rdm-place:before {
  content: "\f220";
}

/* line 71, ../scss/_fonticon.scss */
.rdm-envelope-alt:before {
  content: "\f0e0";
}

/* line 74, ../scss/_fonticon.scss */
.rdm-map-marker:before {
  content: "\f041";
}

@media only screen and (min-width: 768px) {
  /* line 5, ../scss/_768up.scss */
  .navbar-inverse .navbar-nav li:after {
    content: '/';
    padding-left: 10px;
    margin-top: -35px;
    float: right;
    color: #999;
  }

  /* line 18, ../scss/_768up.scss */
  #carousel-home-page .carousel-caption .caption-wrapper .caption-inner {
    padding: 0;
  }
  /* line 20, ../scss/_768up.scss */
  #carousel-home-page .carousel-caption .caption-wrapper .caption-inner .line {
    width: 28%;
    margin-top: -5px;
    display: inline-block !important;
    border-top: 2px solid white;
    height: 6px;
  }
  /* line 26, ../scss/_768up.scss */
  #carousel-home-page .carousel-caption .caption-wrapper .caption-inner .line.bottom {
    width: 100%;
  }
  /* line 30, ../scss/_768up.scss */
  #carousel-home-page .carousel-caption .caption-wrapper .caption-inner .first-slider-caption {
    display: inline-block;
    width: 44%;
  }
  /* line 38, ../scss/_768up.scss */
  #carousel-home-page .carousel-control {
    width: 3%;
  }
  /* line 40, ../scss/_768up.scss */
  #carousel-home-page .carousel-control .icon-prev {
    height: 45px !important;
    left: 15px !important;
  }
  /* line 44, ../scss/_768up.scss */
  #carousel-home-page .carousel-control .icon-next {
    height: 45px !important;
  }

  /* line 51, ../scss/_768up.scss */
  #carousel-team .carousel-control {
    width: 3%;
  }
  /* line 53, ../scss/_768up.scss */
  #carousel-team .carousel-control .icon-prev {
    height: 45px !important;
    left: 15px !important;
  }
  /* line 57, ../scss/_768up.scss */
  #carousel-team .carousel-control .icon-next {
    height: 45px !important;
  }

  /* line 63, ../scss/_768up.scss */
  .with-padding {
    padding: 5em !important;
  }
  /* line 65, ../scss/_768up.scss */
  .with-padding.no-vertical-padding {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  /* line 69, ../scss/_768up.scss */
  .with-padding.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* line 77, ../scss/_768up.scss */
  #gform_wrapper_1 ul li input[type=text] {
    width: 47% !important;
  }
  /* line 82, ../scss/_768up.scss */
  #gform_wrapper_1 ul li:last-child .ginput_container {
    float: right;
    width: 51% !important;
    margin-top: -212px !important;
  }
  /* line 86, ../scss/_768up.scss */
  #gform_wrapper_1 ul li:last-child .ginput_container textarea {
    height: 186px;
  }
  /* line 92, ../scss/_768up.scss */
  #gform_wrapper_1 #gform_submit_button_1 {
    border-radius: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00cae9;
    color: white;
    float: right;
  }
  /* line 102, ../scss/_768up.scss */
  #gform_wrapper_1 #gform_submit_button_1:hover {
    background-color: #11cbea;
  }
}
/* line 19, ../scss/style.scss */
body {
  padding-top: 62px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #2f353e;
}

/* line 26, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 30, ../scss/style.scss */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 37, ../scss/style.scss */
.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

/* line 43, ../scss/style.scss */
.navbar-inverse {
  background-color: #25292c;
}
/* line 45, ../scss/style.scss */
.navbar-inverse .navbar-brand {
  padding: 5px 10px;
}
/* line 47, ../scss/style.scss */
.navbar-inverse .navbar-brand img {
  width: 120px;
}
/* line 51, ../scss/style.scss */
.navbar-inverse .navbar-nav {
  margin-top: 7px;
}
/* line 54, ../scss/style.scss */
.navbar-inverse .navbar-nav li a {
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 8px;
}
/* line 61, ../scss/style.scss */
.navbar-inverse .navbar-toggle {
  margin-top: 14px;
}

/* line 67, ../scss/style.scss */
#carousel-home-page img {
  width: 100%;
}
/* line 70, ../scss/style.scss */
#carousel-home-page .carousel-caption {
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
/* line 78, ../scss/style.scss */
#carousel-home-page .carousel-caption .caption-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
}
/* line 83, ../scss/style.scss */
#carousel-home-page .carousel-caption .caption-wrapper .caption-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10%;
}
/* line 87, ../scss/style.scss */
#carousel-home-page .carousel-caption .caption-wrapper .caption-inner .line {
  display: none;
}
/* line 90, ../scss/style.scss */
#carousel-home-page .carousel-caption .caption-wrapper .caption-inner .first-slider-caption {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1em;
  background-color: transparent;
  z-index: 9999;
  margin: 0;
  padding: 0;
}
/* line 100, ../scss/style.scss */
#carousel-home-page .carousel-caption .caption-wrapper .caption-inner .second-slider-caption {
  text-transform: uppercase;
  font-size: 2em;
}
/* line 107, ../scss/style.scss */
#carousel-home-page .carousel-control {
  z-index: 9999;
}
/* line 109, ../scss/style.scss */
#carousel-home-page .carousel-control.left, #carousel-home-page .carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}
/* line 113, ../scss/style.scss */
#carousel-home-page .carousel-control .icon-prev {
  background-color: black;
  height: 30px;
  left: 10px;
}
/* line 118, ../scss/style.scss */
#carousel-home-page .carousel-control .icon-next {
  background-color: black;
  height: 30px;
  left: auto;
  right: 0px;
}
/* line 126, ../scss/style.scss */
#carousel-home-page .carousel-indicators li {
  border-radius: 0px;
  width: 30px;
  height: 5px;
  background-color: black;
  border: none;
  opacity: 0.5;
}
/* line 133, ../scss/style.scss */
#carousel-home-page .carousel-indicators li.active {
  background-color: #00cae9;
  opacity: 1.0;
  border: none;
  margin: 1px;
}

/* line 144, ../scss/style.scss */
#carousel-team .carousel-control {
  z-index: 9999;
}
/* line 146, ../scss/style.scss */
#carousel-team .carousel-control.left, #carousel-team .carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
}
/* line 150, ../scss/style.scss */
#carousel-team .carousel-control .icon-prev {
  background-color: black;
  height: 30px;
  left: 10px;
}
/* line 155, ../scss/style.scss */
#carousel-team .carousel-control .icon-next {
  background-color: black;
  height: 30px;
  left: auto;
  right: 0px;
}

/* line 164, ../scss/style.scss */
.with-gray-bg {
  background-color: #f3f3f3;
}

/* line 168, ../scss/style.scss */
.with-padding {
  padding: 2em;
}
/* line 170, ../scss/style.scss */
.with-padding.no-vertical-padding {
  padding-bottom: 0;
  padding-top: 0;
}
/* line 174, ../scss/style.scss */
.with-padding.no-top-padding {
  padding-top: 0 !important;
}
/* line 177, ../scss/style.scss */
.with-padding.small-top-padding {
  padding-top: 1em !important;
}
/* line 180, ../scss/style.scss */
.with-padding.small-bottom-padding {
  padding-bottom: 1em !important;
}
/* line 183, ../scss/style.scss */
.with-padding.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

/* line 189, ../scss/style.scss */
.extra-padding {
  padding: 0 2em;
}

/* line 193, ../scss/style.scss */
.lighter {
  color: #818181;
  font-size: 1.25em;
  font-weight: 100;
  margin-top: 0.55em;
}

/* line 200, ../scss/style.scss */
.block-header {
  margin-bottom: 1.5em;
}
/* line 202, ../scss/style.scss */
.block-header h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: #2f353e;
}
/* line 210, ../scss/style.scss */
.block-header h2:last-child {
  font-size: 3.55em;
}

/* line 216, ../scss/style.scss */
.footer {
  background-color: #25292c;
  padding: 2em;
  color: #7f8691;
}
/* line 220, ../scss/style.scss */
.footer .footer-logo {
  width: 120px;
  margin-bottom: 1em;
}
/* line 224, ../scss/style.scss */
.footer h2 {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 1.5em;
}
/* line 230, ../scss/style.scss */
.footer p {
  margin-bottom: 4px;
  font-size: 0.9em;
}
/* line 235, ../scss/style.scss */
.footer .footer-social-icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 239, ../scss/style.scss */
.footer .footer-social-icons ul li {
  display: inline-block;
  margin-right: 1em;
}
/* line 242, ../scss/style.scss */
.footer .footer-social-icons ul li a {
  color: #666d75;
  font-size: 2em;
  text-decoration: none;
}
/* line 246, ../scss/style.scss */
.footer .footer-social-icons ul li a:hover {
  color: white;
}
/* line 254, ../scss/style.scss */
.footer .footer-support-icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
/* line 259, ../scss/style.scss */
.footer .footer-support-icons ul li {
  display: inline-block;
  margin-left: 1em;
}
/* line 262, ../scss/style.scss */
.footer .footer-support-icons ul li a {
  color: #666d75;
  font-size: 2em;
  text-decoration: none;
}
/* line 266, ../scss/style.scss */
.footer .footer-support-icons ul li a:hover {
  color: white;
}
/* line 273, ../scss/style.scss */
.footer .bottom-footer {
  margin-top: 5em;
}
/* line 275, ../scss/style.scss */
.footer .bottom-footer p {
  text-align: center;
  color: #4a4f55;
  font-size: 0.85em;
}

/* line 283, ../scss/style.scss */
.section-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  color: #2f353e;
}

/* line 292, ../scss/style.scss */
.section-small-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-size: 3em;
  color: #2f353e;
}

/* line 301, ../scss/style.scss */
.section-subtitle {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #b2b2b2;
  font-size: 1.45em;
}

/* line 310, ../scss/style.scss */
.section-featured-image {
  margin: 2em 0;
}
/* line 312, ../scss/style.scss */
.section-featured-image img {
  width: 100%;
  height: auto;
}

/* line 318, ../scss/style.scss */
.section-content {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  color: #89909b;
  line-height: 1.5em;
}

/* line 326, ../scss/style.scss */
hr.short {
  width: 70px;
  height: 4px;
  color: #b7b7b7;
  background-color: #b7b7b7;
}

/* line 333, ../scss/style.scss */
blockquote {
  border-left: solid 7px #3d3d3d;
}
/* line 335, ../scss/style.scss */
blockquote p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #818894;
  font-size: 1.75em;
}
/* line 341, ../scss/style.scss */
blockquote cite {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #89909b;
  font-size: 1.25em;
}

/* line 349, ../scss/style.scss */
.btn {
  border-radius: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
}
/* line 356, ../scss/style.scss */
.btn.btn-primary {
  background-color: #00cae9;
}
/* line 358, ../scss/style.scss */
.btn.btn-primary:hover {
  background-color: #11cbea;
}

/* line 364, ../scss/style.scss */
.team-member {
  display: block;
  margin: 0 2em 2em;
}
/* line 367, ../scss/style.scss */
.team-member .team-photo {
  background-size: cover;
  background-position: center center;
  min-height: 394px;
  height: inherit;
  display: block;
  position: relative;
  cursor: pointer;
}
/* line 375, ../scss/style.scss */
.team-member .team-photo div.team-bio {
  display: none;
  position: absolute;
  top: 0;
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
/* line 383, ../scss/style.scss */
.team-member .team-photo div.team-bio p {
  color: white;
}
/* line 389, ../scss/style.scss */
.team-member .team-info {
  background: white;
  border: solid 1px #e1e1e1;
  padding: 1em;
}
/* line 393, ../scss/style.scss */
.team-member .team-info h3 {
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.35em;
  font-weight: 700;
  color: #2f353e;
}
/* line 400, ../scss/style.scss */
.team-member .team-info p {
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #11cbea;
}
/* line 407, ../scss/style.scss */
.team-member .team-info p.team-social-links a {
  color: #818181;
  font-size: 2em;
  margin-right: 1em;
}
/* line 411, ../scss/style.scss */
.team-member .team-info p.team-social-links a:last-child {
  margin-right: 0;
}
/* line 414, ../scss/style.scss */
.team-member .team-info p.team-social-links a:hover {
  color: #11cbea;
  text-decoration: none;
}

/* line 424, ../scss/style.scss */
.close-icon {
  float: right;
  padding: 0.5em 2em 0.5em 0;
  color: #818181;
  font-size: 2em;
}
/* line 429, ../scss/style.scss */
.close-icon:hover {
  text-decoration: none;
  color: #11cbea;
}

/* line 435, ../scss/style.scss */
#meet-the-team-section {
  display: none;
}

/* line 439, ../scss/style.scss */
#partners-row {
  background: url(../images/partners_bg.png) no-repeat;
  background-size: cover;
}
/* line 442, ../scss/style.scss */
#partners-row h1.section-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 3em;
}
/* line 448, ../scss/style.scss */
#partners-row p.section-content {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  color: white;
  font-weight: 300;
  text-align: center;
}
/* line 455, ../scss/style.scss */
#partners-row .partner-section {
  margin: 2em;
}
/* line 457, ../scss/style.scss */
#partners-row .partner-section img {
  margin: 0 auto 1em;
  display: block;
  max-width: 90%;
  height: auto;
}
/* line 463, ../scss/style.scss */
#partners-row .partner-section p {
  color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: center;
}

/* line 473, ../scss/style.scss */
#services-offered .services-cell {
  margin-bottom: 1.5em;
}
/* line 475, ../scss/style.scss */
#services-offered .services-cell .services-title {
  text-decoration: none;
}
/* line 477, ../scss/style.scss */
#services-offered .services-cell .services-title i {
  font-size: 2.5em;
  color: white;
  background: #2f353e;
  padding: 0.5em;
  display: block;
  border-radius: 3em;
  float: left;
  margin-right: 1em;
  margin-top: 0.5em;
  width: 2em;
  text-align: center;
}
/* line 490, ../scss/style.scss */
#services-offered .services-cell .services-title h3 {
  color: #2f353e;
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}
/* line 498, ../scss/style.scss */
#services-offered .services-cell .services-title:hover i, #services-offered .services-cell .services-title.active i {
  background: transparent;
  color: #11cbea;
}
/* line 502, ../scss/style.scss */
#services-offered .services-cell .services-title:hover h3, #services-offered .services-cell .services-title.active h3 {
  color: #11cbea;
}
/* line 507, ../scss/style.scss */
#services-offered .services-cell p {
  margin-left: 7.5em;
}

/* line 513, ../scss/style.scss */
.services-main-content {
  display: none;
}
/* line 515, ../scss/style.scss */
.services-main-content .col-sm-8 {
  color: #818181;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 521, ../scss/style.scss */
.services-main-content .col-sm-8 img {
  float: left;
  margin: 0 1em 0.5em 0;
}
/* line 525, ../scss/style.scss */
.services-main-content .col-sm-8 h1, .services-main-content .col-sm-8 h2, .services-main-content .col-sm-8 h3, .services-main-content .col-sm-8 h4, .services-main-content .col-sm-8 h5, .services-main-content .col-sm-8 h6 {
  color: #2f353e;
  font-weight: 700;
  margin: 1em 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/* line 533, ../scss/style.scss */
.services-main-content .col-sm-4 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: solid 8px #efefef;
  height: auto;
}

/* line 543, ../scss/style.scss */
#testimonials-row {
  background: url(../images/testimonials_bg.png) no-repeat;
  background-size: cover;
}
/* line 546, ../scss/style.scss */
#testimonials-row h1.section-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 3em;
}
/* line 552, ../scss/style.scss */
#testimonials-row p.section-content {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  color: white;
  font-weight: 300;
  text-align: center;
}
/* line 559, ../scss/style.scss */
#testimonials-row .testimonial-section {
  margin: 2em;
}
/* line 561, ../scss/style.scss */
#testimonials-row .testimonial-section .testimonial-icon {
  height: 100%;
  float: left;
  margin: 0 1em;
}
/* line 565, ../scss/style.scss */
#testimonials-row .testimonial-section .testimonial-icon i {
  color: white;
  font-size: 2em;
}
/* line 570, ../scss/style.scss */
#testimonials-row .testimonial-section .quote {
  color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  margin-left: 3.5em;
}
/* line 578, ../scss/style.scss */
#testimonials-row .testimonial-section .customer-info p {
  color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-left: 4em;
}
/* line 583, ../scss/style.scss */
#testimonials-row .testimonial-section .customer-info p img {
  border-radius: 42px;
  margin-left: 1em;
}

/* line 592, ../scss/style.scss */
.trending-post {
  margin-bottom: 2em;
}
/* line 595, ../scss/style.scss */
.trending-post .featured-image img {
  width: 100%;
  height: auto;
  z-index: 1;
}
/* line 602, ../scss/style.scss */
.trending-post .author-avatar img {
  border-radius: 50px;
  right: 10px;
  margin: -25px 1em 0 0;
  position: absolute;
}
/* line 609, ../scss/style.scss */
.trending-post .trending-content {
  margin: 1em 1em 0;
  color: #818181;
  font-size: 1.1em;
}
/* line 613, ../scss/style.scss */
.trending-post .trending-content a {
  text-decoration: none;
  color: #11cbea;
}
/* line 616, ../scss/style.scss */
.trending-post .trending-content a h3 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: #2f353e;
}
/* line 622, ../scss/style.scss */
.trending-post .trending-content a:hover {
  color: #00cae9;
}
/* line 624, ../scss/style.scss */
.trending-post .trending-content a:hover h3 {
  color: #11cbea;
}
/* line 630, ../scss/style.scss */
.trending-post .trending-meta {
  border-top: 1px dashed #818181;
  margin: 1em 0 0;
  padding: 1em 0 0;
  color: #818181;
}
/* line 635, ../scss/style.scss */
.trending-post .trending-meta .col-xs-3:last-child {
  text-align: right;
}
/* line 638, ../scss/style.scss */
.trending-post .trending-meta .col-xs-6:first-child {
  text-align: left;
}
/* line 641, ../scss/style.scss */
.trending-post .trending-meta .col-xs-3 {
  text-align: center;
}

/* line 647, ../scss/style.scss */
#subcarousel {
  background: url(../images/subcarousel_bg.png) no-repeat;
  background-size: cover;
}
/* line 650, ../scss/style.scss */
#subcarousel .update-section {
  border: solid 1px white;
  margin: 0 5em;
}
/* line 653, ../scss/style.scss */
#subcarousel .update-section h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 2.25em;
  margin: 1em 2em 1em;
}
/* line 662, ../scss/style.scss */
#subcarousel .update-section p {
  color: white;
  margin: 0 2em 2em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  font-weight: 300;
}

/* line 674, ../scss/style.scss */
.retail-section .retail-header i {
  font-size: 2.5em;
  color: white;
  background: #2f353e;
  padding: 0.5em;
  display: block;
  border-radius: 3em;
  float: left;
  margin-right: 1em;
  margin-top: 0.5em;
  width: 2.05em;
  text-align: center;
  clear: both;
}
/* line 688, ../scss/style.scss */
.retail-section .retail-header h3 {
  color: #2f353e;
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}
/* line 696, ../scss/style.scss */
.retail-section p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  color: #89909b;
  line-height: 1.5em;
  margin-left: 6.75em;
}

/* line 706, ../scss/style.scss */
#brand-row {
  background: url(../images/testimonials_bg.png) no-repeat;
  background-size: cover;
}
/* line 709, ../scss/style.scss */
#brand-row h1.section-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 3em;
}
/* line 715, ../scss/style.scss */
#brand-row p.section-content {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  color: white;
  font-weight: 300;
  text-align: center;
}
/* line 723, ../scss/style.scss */
#brand-row .brand-section img {
  width: 50%;
  margin: 0 auto;
  display: block;
  height: auto;
}

/* line 732, ../scss/style.scss */
.contact-description {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  color: #89909b;
  text-align: center;
}

/* line 741, ../scss/style.scss */
.form-header {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #2f353e;
  font-size: 1.5em;
}

/* line 748, ../scss/style.scss */
.gfield_label {
  display: none !important;
}

/* line 752, ../scss/style.scss */
input[type=text], textarea {
  background: #eeeeee;
  padding: 1em !important;
  border: none;
  border-radius: 3px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 0.95em !important;
  color: #89909b !important;
  margin-bottom: 2em;
}

/* line 766, ../scss/style.scss */
#gform_wrapper_1 ul li input[type=text] {
  width: 100%;
}
/* line 771, ../scss/style.scss */
#gform_wrapper_1 ul li:last-child .ginput_container {
  float: right;
  width: 100%;
  margin-top: 0px;
}
/* line 775, ../scss/style.scss */
#gform_wrapper_1 ul li:last-child .ginput_container textarea {
  height: 186px;
}
/* line 781, ../scss/style.scss */
#gform_wrapper_1 #gform_submit_button_1 {
  border-radius: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00cae9;
  color: white;
  float: right;
}
/* line 791, ../scss/style.scss */
#gform_wrapper_1 #gform_submit_button_1:hover {
  background-color: #11cbea;
}
