@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
/******************************************************************
Site Name: MacTown
Author: Rainy Day Media

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
@font-face {
  font-family: 'MacTown';
  src: url("../fonts/MacTown.eot");
  src: url("../fonts/MacTown.eot?#iefix") format("embedded-opentype"), url("../fonts/MacTown.woff") format("woff"), url("../fonts/MacTown.ttf") format("truetype"), url("../fonts/MacTown.svg#MacTown") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 14, ../scss/_fonticon.scss */
[data-icon]:before {
  font-family: 'MacTown';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="rdm-"] {
*/
/* line 31, ../scss/_fonticon.scss */
.rdm-medkit, .rdm-suitcase, .rdm-linkedin-sign, .rdm-twitter-sign, .rdm-facebook-sign, .rdm-envelope, .rdm-sessions, .rdm-service, .rdm-phone, .rdm-place, .rdm-envelope-alt, .rdm-map-marker {
  font-family: 'MacTown';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 41, ../scss/_fonticon.scss */
.rdm-medkit:before {
  content: "\f0fa";
}

/* line 44, ../scss/_fonticon.scss */
.rdm-suitcase:before {
  content: "\f0f2";
}

/* line 47, ../scss/_fonticon.scss */
.rdm-linkedin-sign:before {
  content: "\f08c";
}

/* line 50, ../scss/_fonticon.scss */
.rdm-twitter-sign:before {
  content: "\f081";
}

/* line 53, ../scss/_fonticon.scss */
.rdm-facebook-sign:before {
  content: "\f082";
}

/* line 56, ../scss/_fonticon.scss */
.rdm-envelope:before {
  content: "\f003";
}

/* line 59, ../scss/_fonticon.scss */
.rdm-sessions:before {
  content: "\e000";
}

/* line 62, ../scss/_fonticon.scss */
.rdm-service:before {
  content: "\e001";
}

/* line 65, ../scss/_fonticon.scss */
.rdm-phone:before {
  content: "\f095";
}

/* line 68, ../scss/_fonticon.scss */
.rdm-place:before {
  content: "\f220";
}

/* line 71, ../scss/_fonticon.scss */
.rdm-envelope-alt:before {
  content: "\f0e0";
}

/* line 74, ../scss/_fonticon.scss */
.rdm-map-marker:before {
  content: "\f041";
}

@media only screen and (min-width: 768px) {
  /* line 5, ../scss/_768up.scss */
  .navbar-inverse .navbar-nav li:after {
    content: '/';
    padding-left: 10px;
    margin-top: -35px;
    float: right;
    color: #999;
  }

  /* line 17, ../scss/_768up.scss */
  #carousel-home-page .carousel-control .icon-prev {
    height: 45px !important;
  }
  /* line 20, ../scss/_768up.scss */
  #carousel-home-page .carousel-control .icon-next {
    height: 45px !important;
  }
}
/* line 18, ../scss/style.scss */
body {
  padding-top: 34px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 26, ../scss/style.scss */
.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

/* line 32, ../scss/style.scss */
.navbar-inverse {
  background-color: #25292c;
}
/* line 34, ../scss/style.scss */
.navbar-inverse .navbar-brand {
  padding: 5px 10px;
}
/* line 36, ../scss/style.scss */
.navbar-inverse .navbar-brand img {
  width: 120px;
}
/* line 40, ../scss/style.scss */
.navbar-inverse .navbar-nav {
  margin-top: 7px;
}
/* line 43, ../scss/style.scss */
.navbar-inverse .navbar-nav li a {
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 8px;
}
/* line 50, ../scss/style.scss */
.navbar-inverse .navbar-toggle {
  margin-top: 14px;
}

/* line 56, ../scss/style.scss */
#carousel-home-page img {
  width: 100%;
}
/* line 59, ../scss/style.scss */
#carousel-home-page .carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 140px;
  width: 70%;
  position: absolute;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
}
/* line 70, ../scss/style.scss */
#carousel-home-page .carousel-caption .first-slider-caption {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1em;
  background-color: transparent;
  z-index: 9999;
  margin: 0;
  padding: 0;
}
/* line 80, ../scss/style.scss */
#carousel-home-page .carousel-caption .second-slider-caption {
  text-transform: uppercase;
  font-size: 2em;
}
/* line 86, ../scss/style.scss */
#carousel-home-page .carousel-control.left, #carousel-home-page .carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
  width: 1%;
}
/* line 91, ../scss/style.scss */
#carousel-home-page .carousel-control .icon-prev {
  background-color: black;
  height: 30px;
}
/* line 95, ../scss/style.scss */
#carousel-home-page .carousel-control .icon-next {
  background-color: black;
  height: 30px;
}
/* line 101, ../scss/style.scss */
#carousel-home-page .carousel-indicators li {
  border-radius: 0px;
  width: 30px;
  height: 5px;
  background-color: black;
  border: none;
  opacity: 0.5;
}
/* line 108, ../scss/style.scss */
#carousel-home-page .carousel-indicators li.active {
  background-color: #00cae9;
  opacity: 1.0;
  border: none;
  margin: 1px;
}

/* line 118, ../scss/style.scss */
.with-gray-bg {
  background-color: #f3f3f3;
}

/* line 122, ../scss/style.scss */
.with-padding {
  padding: 5em;
}

/* line 126, ../scss/style.scss */
.lighter {
  color: #818181;
  font-size: 1.25em;
  font-weight: 100;
}

/* line 132, ../scss/style.scss */
.block-header {
  margin-bottom: 1.5em;
}
/* line 134, ../scss/style.scss */
.block-header h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  margin: 0;
  padding: 0;
  color: #2f353e;
}
/* line 142, ../scss/style.scss */
.block-header h2:last-child {
  font-size: 3.55em;
}
